@tailwind base;
@tailwind components;
@tailwind utilities;


body::-webkit-scrollbar {
    width: 3px;               /* width of the entire scrollbar */
  }
  
  body::-webkit-scrollbar-track {
    background:#09090B;        /* color of the tracking area */
  }
  
  body::-webkit-scrollbar-thumb {
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 1px solid gray;  /* creates padding around scroll thumb */
  }
